@model Pet

<div class="text-center">
    <h1 class="display-4">Delete @Model.PetName</h1>


    <hr />
</div>

<p class="text-center" style="font-size:24px"> Are you sure you want to delete @Model.PetName?</p>


<div style="text-align:center">
    <form method="post">

        <input type="hidden" name="id" value="@Model.Id">

        <button type="submit" class="btn btn-outline-dark">Delete</button>

        <a class="btn btn-outline-dark" asp-area="" asp-controller="Pet" asp-action="PetDetails" asp-route-id="@Model.Id">Cancel</a>

    </form>
</div>

