
@{
    ViewData["Title"] = "Home Page - ";
}



<partial name="_Header" />


<p style="text-align:center">

    <img src="~/Content/pets4.jpg"
         alt="Pets"
         style="width: 90%;
                height: auto;" />
</p>


