@page
@model LoginModel

@{
    ViewData["Title"] = "Log in - ";
}


<div>
    <div style="text-align:center">
        <h1 class="display-4">Log in</h1>

        <section>
            <form id="account" method="post">

                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-row align-items-center col-auto">
                    <label>Username</label>
                    <input asp-for="Input.Email" class="form-control" />

                </div>
                <div class="form-row align-items-center col-auto">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />

                </div>
                <div class="form-row align-items-center col-auto">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-row align-items-center col-auto">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-row align-items-center col-auto">
                    <p>
                        <br />
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>



